* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/*HEADER IND*/
header {
    background-color: rgba(16, 16, 17, 0.911);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;

}

header h1 {

    color: rgb(255, 230, 0);
    font-family: 'Special Elite', cursive;
    font-size: 50px;

}

nav {
    display: none;


    font-family: 'Special Elite', cursive;
    color: rgb(255, 230, 0);
}

header nav ul {


    font-size: x-large;
    align-items: center;
    transition: all 300ms ;

}


header nav ul li:hover {
    color: white;
}

@media(min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10%;
    }

    nav {
        display: block;

    }

    header ul {
        display: flex;
        gap: 20px;
    }
}

/*staff*/
/* estilos.css */


.grilla {
    box-sizing: border-box;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    max-width: 70rem;
    width: 100%;
}

/* estilos.css */

.contenedor {
    grid-column-end: span 6;
}

:root {
    /* Usamos variables de CSS para reutilizar fácilmente los colores */
    --color-principal: #FADFDB;
    --color-secundario: darkblue;
}

body {
    background-color: black;
    color: black;
    /* Para usar esta fuente primero tenés que embeberla en tu ćodigo */
    /* Podés encontrarla en Google Fonts: https://fonts.google.com/ */
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 2rem;
}

.grilla {
    grid-gap: 2rem;
    padding: 2rem;
}

.intro .grilla {
    align-items: center;
    background-color: yellow;
    border-radius: 1rem;
    text-align: center;
}

.imagen-mujer {

    border-radius: 2rem;
    width: 500%;
}

.titulo {
    font-size: 4rem;
    font-weight: 500;
    margin-block-end: 1rem;
}

.subtitulo {
    font-size: 2rem;
    font-weight: 300;
}

.razones {
    padding: 3rem 0;
    text-align: center;
}

.tarjeta {
    border: solid yellow;
    border-radius: 1rem;
    box-shadow: rgba(245, 239, 239, 0.945) 0 0 1rem;
    grid-column-end: span 4;
    padding: 2rem;
    float: left;
}

.tarjeta:hover {

    transform: rotate(-3grad)
}

.tarjeta img {
    /* Para que la imagen de la tarjeta se vea redonda */
    border-radius: 50%;
    max-width: 50rem;
    width: 100%;
}

.h3staff {
    font-size: 2.5rem;
    font-weight: 500;
}

.h4staff {
    color: yellow;
    font-size: 1.0rem;
    font-weight: 700;
}

.pstaff {
    color: white;
    font-size: 1.25rem;
    line-height: 150%;
}

.ver-mas {

    grid-column-end: span 8;
    grid-column-start: 3;
    width: 100%;
}

.ahora-que {

    text-align: center;
}

.grillafinal .ver-mas {
    transition: all 0.8% ease;

    align-content: center;
    border: solid yellow;
    border-radius: 1rem;
}

.ver-mas:hover {
    transition: all 0.6%ease;
    filter: brightness(50%)
}

a {
    color: black;
    background-color: yellow;
    border: 4px solid yellow;
    border-radius: 2rem;
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1rem 2rem;
    margin: 3rem auto;
    text-decoration: none;
    width: 12rem;
}

a:hover {
    background-color: white;
}

@media (max-width: 48rem) {

    /* Con este selector indicamos que ese estilo debe aplicarse a */
    /* TODOS los elementos que sean hijos directos de la grilla */
    .grilla>* {
        grid-column-end: span 12;
    }

    /* El primer valor corresponde al hueco entre filas */
    /* El segundo valor corresponde al hueco entre columnas */
    .grilla {
        grid-gap: 2rem 0;
    }
}

.ver-mas {
    grid-column-start: 1;
}

/* estilos.css */

.bodystaff {
    padding: 1rem;
}

.titulo {
    font-size: 3rem;
}

/*
.staff{
    background-color: black;
}
.h1galeria{

    color: yellow; 
    text-shadow: 1px 2px 2px white, 0 0 25px yellow , 0 0 5px yellow;
    font-family: 'Special Elite', cursive;
    text-align: center;
}
.galeria{
    display: grid;

border: solid yellow;
    margin: 20px 50px;
    box-shadow: 0 4px 8px lightyellow , 0 6px 20px 0 rgba(238, 234, 234, 0.952));
    float:left;
    width: 350px;


}
div.galeria img{
    width: 100%;
    height:auto;
}
div.galeria:hover{
    border:1px solid lightyellow;
    transform:rotate(-3grad)
}
div.pie{
    text-align: center;
    text-shadow:2px 2px 5px yellow ;
    padding: 10px;
}
*/
/*CONTACTO*/
.bodycontacto {
    background-color: #181818;
    color: yellow;
    font-family: 'Special Elite', cursive;
    padding: 0 1.5em;


}



.contenedorcontacto {
    height: auto;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;

}

.titulocontacto {
    text-align: center;
    font-size: 3em;

}

.contact-wrapper {
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, .3);
}

.contact-wrapper>* {
    padding: 1em;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form {
    background-color: #222222;

}

.contact-info {
    background-color: #000;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form textarea,
.contact-form form input {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid yellow;
    outline: 0;
    color: yellow;
    font-family: 'Special Elite', cursive;

}

.contact-form form button {
    background: yellow;
    border: 0;
    color: #000;
    font-family: 'Special Elite', cursive;
    text-transform: uppercase;
    padding: 1em;

}

.contact-form form button:hover,
.contact-form form button:focus {
    background: white;
    color: orange;
    transition: is ease-out;
    outline: 0;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: .3em;
}

@media(min-width: 700px) {
    .bodycontacto {
        padding: 0 4rem;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper>* {
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        padding: 1em;
    }
}
/*SUPLEMENTOS*/
.suplementoHeader {
    background-color: rgba(0, 0, 0, 0.76);
    height: 100px;
    text-align: center;
    padding: 40px;
    font-size: 10px;
}

.suplementoHeader h1 {
    font-size: large;

    color: white;

    text-align: center;

}

/*productos*/
.tituloproductos h2 {

    background-color: rgba(39, 37, 37, 0.322);
    text-align: center;
    padding: 15px;
    font-family: 'Special Elite', cursive;
    color: rgb(10, 10, 10);
    font-size: x-large;

}

.tarjetaproductos {
    font-family: 'Special Elite', cursive;
    border: 2px solid black;
    min-width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}


.tarjetaproductos span {
    font-family: 'Special Elite', cursive;
    font-size: 24px;
}

.tarjetaproductos img {
    width: 60%;
}

.slider-productos {
    display: flex;
    overflow: auto;
    height: 100vh;
    align-content: stretch;



    gap: 20px;
    padding: 15px;

}

.btn {
    font-family: 'Special Elite', cursive;
    border: solid 10px gray;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    padding: 5px 5px;
    background-color: gray;
    margin-bottom: 5px;
}
/*Footerind*/
.pie-pagina {



    width: 100%;
    background-color: rgb(19, 18, 18);
    font-family: 'Special Elite', cursive;
    gap: 20px;
    padding: 0%;

}

.pie-pagina .grupo-1 {
    width: 100%;

    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 150px;
}

.pie-pagina .grupo-1 .box h2 {
    color: rgb(255, 230, 0);
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: antiquewhite;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .box .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: yellow;
    margin-right: 10px;
    background-color: rgba(167, 156, 163, 0.226);
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .box .red-social a:hover {
    color: aliceblue;
}